body{
    text-align: left;
    background-color: rgb(182, 151, 211);
    
}

p {
    background-color: blueviolet;
}
.content {
    max-width: 700px;
    margin: auto;
    background:rgb(182, 151, 211);
    padding: 10px;
  }
h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
    
}